.header {
    background: #77acf1;
    padding: 10px;
}

.navigation {
    background: #04009a;
    padding: 20px;
}

.navigation__item {
    color: #3edbf0;
    font-size: 20px;
    display: inline-table;
    margin-right: 1%;
}

.navigation__item--cursive {
    font-style: italic;
}