.form {

    &__title {
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        font-weight: bold;
    }

    &__label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique;
        font-weight: bold;
    }
}