.navegacion {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navegacion__item--name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.barra, .contenedor {
  font-family: "Courier New", Courier, monospace;
}

.foot {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.contenedor {
  display: flex;
}

.timeline {
  width: 60%;
  margin: 2% 0% 2% 12%;
  display: inline-block;
}
.timeline .bienvenida {
  background-color: rgba(245, 245, 245, 0.15);
  color: cornsilk;
  border-radius: 10px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}
.timeline .resena {
  background-color: rgba(245, 245, 245, 0.15);
  color: cornsilk;
  border-radius: 10px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}
.timeline .articulos {
  background-color: rgba(245, 245, 245, 0.15);
  text-align: center;
  color: cornsilk;
  border-radius: 10px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}
@media (max-width: 576px) {
  .timeline .americas {
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 4%;
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .timeline .americas {
    width: 46%;
    display: inline-block;
    margin: 1%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .timeline .americas {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 1200px) {
  .timeline .americas {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 576px) {
  .timeline .africa {
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 4%;
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .timeline .africa {
    width: 46%;
    display: inline-block;
    margin: 1%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .timeline .africa {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 1200px) {
  .timeline .africa {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 576px) {
  .timeline .asia {
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 4%;
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .timeline .asia {
    width: 46%;
    display: inline-block;
    margin: 1%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .timeline .asia {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 1200px) {
  .timeline .asia {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 576px) {
  .timeline .europa {
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 4%;
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .timeline .europa {
    width: 46%;
    display: inline-block;
    margin: 1%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .timeline .europa {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 1200px) {
  .timeline .europa {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 576px) {
  .timeline .oceania {
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 4%;
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .timeline .oceania {
    width: 46%;
    display: inline-block;
    margin: 1%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .timeline .oceania {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 1200px) {
  .timeline .oceania {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 576px) {
  .timeline .antartida {
    background-color: rgba(245, 245, 245, 0.15);
    margin-bottom: 4%;
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .timeline .antartida {
    width: 46%;
    display: inline-block;
    margin: 1%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .timeline .antartida {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (min-width: 1200px) {
  .timeline .antartida {
    width: 30%;
    display: inline-block;
    margin: 1% 0% 1% 2%;
    background-color: rgba(245, 245, 245, 0.15);
    color: cornsilk;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
}
@media (max-width: 800px) {
  .timeline {
    width: 80%;
    margin: 2% 0% 2% 10%;
    display: inline-block;
  }
}

.foot {
  background-color: rgba(245, 245, 245, 0.15);
  color: cornsilk;
  padding: 1%;
}
.foot a {
  color: cornsilk;
}
@media (max-width: 576px) {
  .foot__item {
    text-align: center;
    padding: 3%;
  }
}
@media (min-width: 576px) {
  .foot__item {
    text-align: center;
    width: 24%;
    display: flex;
    display: inline-block;
  }
}

.navegacion {
  margin-left: 1%;
}
.navegacion__item {
  color: cornsilk;
  width: 24%;
  padding: 1%;
  display: flex;
  display: inline-block;
  text-align: center;
}
.navegacion__item a {
  text-decoration: none;
  color: cornsilk;
}
@media (max-width: 576px) {
  .navegacion__item {
    width: 23%;
    font-size: x-small;
  }
}
@media (max-width: 576px) {
  .navegacion__item--name {
    font-size: x-small;
  }
}

header {
  width: 100%;
  height: 60px;
  background-color: rgba(245, 245, 245, 0.15);
}
@media (max-width: 576px) {
  header {
    height: 30px;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  header {
    height: 40px;
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  header {
    height: 45px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header {
    height: 50px;
  }
}

.barra {
  display: none;
}
.barra a {
  text-decoration: none;
  color: cornsilk;
}
@media (max-width: 800px) {
  .barra {
    display: block;
    width: 80%;
    height: 195px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.15);
    margin: 2% 0% 1% 10%;
    padding-top: 2%;
    border-radius: 25px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
  }
  .barra__item {
    color: cornsilk;
    width: 40%;
    display: inline-block;
    margin: 1% 0% 0% 0%;
  }
  .barra__continente {
    padding: 1%;
  }
  .barra__titulo {
    color: cornsilk;
  }
}

.sidebar {
  width: 15%;
  height: 660px;
  margin: 2% 0% 1% 2%;
  background-color: rgba(245, 245, 245, 0.15);
  display: block;
  background-color: rgba(245, 245, 245, 0.15);
  padding-top: 2%;
  border-radius: 15px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}
.sidebar a {
  text-decoration: none;
  color: cornsilk;
}
.sidebar__item {
  color: cornsilk;
  width: 80%;
  height: 80px;
  display: inline-block;
  margin: 8% 0% 0% 0%;
}
.sidebar__continente {
  padding: 1%;
  margin-left: 10%;
}
.sidebar__titulo {
  color: cornsilk;
  width: 80%;
  display: flex;
  margin-left: 10%;
  font-size: small;
}
@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

body {
  margin: 0;
  background: linear-gradient(to right, black, black);
}

/*# sourceMappingURL=style.css.map */
