// .contenedor {
//     background-color: bisque;
//     width: 300px;
//     height: 300px;

//     .caja {
//         width: 100px;
//         height: 100px;
//     }
    
//     .caja1 {
//         background-color: aqua;
//     }

//     .caja2 {
//         background-color: blueviolet;
//     }

//     .caja3 {
//         background-color: chartreuse;
//     }

//     .posicion-relativa {
//         position: relative;
//     }

//     .desplazar {
//         left: 150px;
//         // right: 0;
//     }
// }


.caj {
    position: absolute;
    height: 150px;
    width: 150px;
}

.caj1 {
    left: 0;
    top: s0;
    background-color: blueviolet;
    z-index: -2;
}

.caj2 {
    left: 50px;
    top: 10px;
    background-color: aquamarine;
    z-index: -1;
}

.h1 {
    z-index: 1;
}
