.columna1,
.columna2,
.columna3, 
.columna4, 
.columna5, 
.columna6 {
    height: 200px;
    width: 100%;
}

.columna1 {
    background-color: antiquewhite;
}

.columna2 {
    background-color: aqua;
}

.columna3 {
    background-color: blueviolet;
}

.columna4 {
    background-color: lightsalmon;
}

.columna5 {
    background-color: palevioletred;
}

.columna6 {
    background-color: cadetblue;
}

/* diseño Mostly Fluid */

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
}

/* Dispositivos extra pequeños (teléfonos, 600px y menos) */
@media (max-width: 600px) {
    .columna2,
    .columna3, 
    .columna4, 
    .columna5, 
    .columna6 {
        width: 50%;
    }
}

/* Dispositivos pequeños (tablets verticales y teléfonos grandes,
600px y más) */

@media (min-width: 601px) and (max-width: 800px) {
    .columna1 {
        width: 60%;
    }

    .columna2 {
        width: 40%;
    }

    .columna3, 
    .columna4, 
    .columna5, 
    .columna6 {
        width: 25%;
    }

    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Dispositivos medianos (tablets horizontales, 768px y más) */

@media only screen and (min-width: 768px) {
 
}

/* Dispositivos grandes (computadores portátiles/de escritorio, 992px
y más) */

@media only screen and (min-width: 992px) {

}

/* Dispositivos extra grandes (grandes computadores portátiles y de
escritorio, 1200px y más) */

@media only screen and (min-width: 1200px) {
 
}


