.navbar {
    /*background-color: #6f42c1;*/
    background-color: pink;
}

img {
    width: 10%;
}

.navbar-brand, .nav-link{
    color: white;
}

.table {
    margin: auto;
    margin-top: 6%;
    width: 80%;
}

.img-fluid {
    width: 40%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.contenedor-img {
    text-align: center;
}

