@import "base/typography";
@import "components/buttons";
@import "components/dropdown";
@import "layout/containers";
@import "layout/footer";
@import "layout/navigation";

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #ff9e9e, #838dff);
    
}
