.columna1 {
    height: 200px;
    width: 100%;
    padding: 10px;
    background-color: antiquewhite;
}


/* diseño Layout Shifter*/

/* Dispositivos extra pequeños (teléfonos, 600px y menos) */
@media (min-width: 600px) {
    .columna1 {
        padding: 20px;
        background-color: aquamarine;
    } 
}

/* Dispositivos pequeños (tablets verticales y teléfonos grandes,
600px y más) */

@media (min-width: 800px) {
    .columna1 {
        padding: 40px;
        background-color: blue;
    }

}

/* Dispositivos medianos (tablets horizontales, 768px y más) */

@media only screen and (min-width: 768px) {
 
}

/* Dispositivos grandes (computadores portátiles/de escritorio, 992px
y más) */

@media only screen and (min-width: 992px) {

}

/* Dispositivos extra grandes (grandes computadores portátiles y de
escritorio, 1200px y más) */

@media only screen and (min-width: 1200px) {
 
}


